# Python
server/venv/
server/.env
__pycache__/
*.pyc
*.pyo

#Google form parser credentials
server/google_credentials.json

# Node
client/node_modules/
client/dist/

# Database
*.db
*.sqlite

# Misc
.DS_Store
.env